#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SteamJar
Exec=curl https://raw.githubusercontent.com/pbaja/SteamJar/main/install.sh | bash -s -- INTERNAL
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
