#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SteamJar Installer
Exec=curl https://raw.githubusercontent.com/pbaja/SteamJar/main/install.sh | bash -s -- INTERNAL
Icon=applications-games
Terminal=true
Type=Application
StartupNotify=false
