[Desktop Entry]
Comment[en_US]=Import your games into Steam
Comment=Import your games into Steam
Exec=bash -c 'python "$(dirname "$(readlink -f "$1")")"/run.py --gui' dummy %k
GenericName[en_US]=
GenericName=
Icon=applications-games
MimeType=
Name[en_US]=SteamJar
Name=SteamJar
Path=
StartupNotify=false
Terminal=false
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
